{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,
          shrink-to-fit=no">
    <title>Quill Scope</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    
    <style>
        .navbar-text {
            margin-right: 10px; /* Add right margin to the "Hello, username" span */
        }
        
        .nav-item.logout-btn {
            margin-left: 10px; /* Add left margin to the "Log out" button */
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
        <a class="navbar-brand" href="{% url 'quill_scope_app:index' %}">
            Quill Scope</a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'quill_scope_app:topics' %}">
                        Topics</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">
                        Hello, {{ user.username }}
                    </span>
                </li>
                <li class="nav-item logout-btn"> <!-- Added "logout-btn" class -->
                    <a class="nav-link btn btn-outline-secondary"
                       href="{% url 'users:logout' %}">
                        Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'users:register' %}">
                        Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'users:login' %}">
                        Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}
            {% endblock page_header %}
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </main>

</body>
</html>
