{% extends "quill_scope_app/base.html" %}

{% block page_header %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Topics</h1>
    <a href="{% url 'quill_scope_app:new_topic' %}" class="btn btn-xs btn-success">
        Add a New Topic
    </a>
</div>
{% endblock page_header %}


{% block content %}

<ul class="list-group list-group-flush">
    {% for topic in topics %}
    <li class="list-group-item">
        <h3>
            <a href="{% url 'quill_scope_app:topic' topic.id %}">
                {{ topic }}</a>
            <span class="badge badge-primary badge-pill ml-3">
                {{ topic.entry_set.count }}</span> <!-- Entry count -->
        </h3>
    </li>
    {% empty %}
    <li>
        <h3>There are no topics yet.</h3>
    </li>
    {% endfor %}
</ul>

{% endblock content %}
